---
import Container from '@components/Container.astro';
import Hero from '@components/Hero.astro';
import type { TipTapNode } from '@components/TipTapRender';
import BodyContent from '@components/TipTapRender/BodyContent';
import { TipTapRender } from '@components/TipTapRender/TipTapRender';
import { readSingleton } from '@directus/sdk';
import BaseLayout from '@layouts/BaseLayout.astro';
import getPageContent from '@utils/getPageContent';
import getPageHero from '@utils/getPageHero';
import getPageSeo from '@utils/getPageSeo';
import directus from '../../lib/directus';

const global = await directus.request(readSingleton('General'));

const slug = Astro.routePattern.substring(1);

const pageHero = await getPageHero(slug);
const pageContent = await getPageContent(slug);
const pageSeo = await getPageSeo(slug);
---

<BaseLayout
  title={`${pageHero.title} | ${global.site_name} - ${global.site_subheader}`}
  seo={pageSeo}
>
  <Hero pageHero={pageHero} />
  {
    pageContent && (
      <div>
        <TipTapRender handlers={BodyContent} node={pageContent as TipTapNode} />
      </div>
    )
  }

  <Container />
</BaseLayout>
