---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import directus from '../../lib/directus';
import { readItems, readSingleton } from '@directus/sdk';

import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableFooter,
  TableHead,
  TableHeader,
  TableRow,
} from '@lib/components/ui/table';

const { title } = Astro.props;
const global = await directus.request(readSingleton('General'));
const files = await directus.request(readItems('files'));
const fileCategories = await directus.request(readItems('file_categories'));

console.log(files[0].description.blocks[0].data.text)

const assetBaseUrl = `${import.meta.env.DIRECTUS_URL}assets/`

---

<Layout title={`Documentation | ${global.site_name} - ${global.site_subheader}`}>
  <main class="mx-auto w-11/12 max-w-7xl mt-12">
    {
      fileCategories.map((category) => (
        <h2 class="text-2xl font-semibold py-2">{category.file_category}</h2>
        <Table className='border outline-1 outline-gray-400 overflow-hidden'>
          <TableCaption />
          <TableHeader>
            <TableRow>
              <TableHead className="">Document</TableHead>
              <TableHead>Description</TableHead>
              <TableHead>Year</TableHead>
              <TableHead className="text-right">File download</TableHead>
            </TableRow>
          </TableHeader>
          <TableBody>
            {files.filter((e) => e.file_category === category.id).map((file) => (
              <TableRow key={file.id} className="h-16">
                <TableCell className="font-medium">{file.file_name}</TableCell>
                <TableCell set:html={file.description?.blocks[0].data.text}></TableCell>
                <TableCell>{file.year}</TableCell>
                <TableCell className="text-right w-42">
                  <a class="rounded bg-white px-2 py-2 my-1 text-sm font-semibold text-light-teal-500 shadow-sm ring-2 ring-inset ring-light-teal-500 hover:text-teal-500" href={`${assetBaseUrl}${file.file}?download`} target="_blank" download={file.name}>View document</a>
                </TableCell>
              </TableRow>
            ))}
          </TableBody>
          <TableFooter>

          </TableFooter>
        </Table>
      ))
    }
  </main>
</Layout>
