---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import directus from '../../lib/directus';
import { readSingleton } from '@directus/sdk';

const global = await directus.request(readSingleton('General'));
---

<Layout title={`${global.site_name} - ${global.site_subheader}`} `>
  <main>
    <div>
      <h1>{global.site_name}</h1>
      <p>{global.site_subheader}</p>
      <p>{global.hero_tagline}</p>
      <div set:html={global.hero_body} />
    </div>
  </main>
</Layout>
