---
import Container from '@components/Container.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import getHomePageContent from '@utils/getHomePageContent';
import Button from '@components/Atoms/Button';
import Image from 'astro/components/Image.astro';
import FeaturedLink from '@components/Atoms/FeaturedLink';
import StatCard from '@components/Atoms/StatCard';
import LinkCard from '@components/Atoms/LinkCard';
import ProjectCarousel from '@components/ProjectCarousel';

import { getCollection } from 'astro:content';
import directus from '../../lib/directus';
import { readSingleton } from '@directus/sdk';
import type { Project, Seo } from 'env';
import { Picture } from 'astro:assets';

const global = await directus.request(readSingleton('General'));
const projects: Project[] = await getCollection('projects');

const content = await getHomePageContent();
const assetBaseUrl = `${import.meta.env.DIRECTUS_URL}assets/`;

const seo: Seo = {
  title: global.seo.title,
  meta_description: global.seo.meta_description,
  og_image: global.seo.og_image,
};
---

<BaseLayout title={`${global.site_name} - ${global.site_subheader}`} seo={seo}>
  <div class="home-hero w-full relative bg-black">
    <div class="absolute z-0 w-full h-full overflow-hidden">
      <Picture
        class="object-cover h-full object-top-left opacity-50"
        src={`${assetBaseUrl}${content.heroImage}?width=1800`}
        alt=""
        inferSize
      />
    </div>
    <div class="hero-content relative z-10">
      <Container>
        <!-- <div class="hero-container mx-auto mb-6"> -->
        <div class="grid grid-cols-12 mb-24 text-white">
          <div class="col-start-2 md:col-start-2 col-span-8 md:col-span-5 py-8">
            <div
              class="text-4xl/12 font-bold"
              set:html={content.heroHeadline}
            />
            <div class="prose my-8 text-white" set:html={content.heroContent} />
            <div class="buttons flex flex-col gap-10 w-full md:w-2/3">
              {
                content.buttons &&
                  content.buttons.map((button) => (
                    <Button button={button} arrow="right" />
                  ))
              }
            </div>
          </div>
        </div>
      </Container>
      <div
        class="w-full bg-black/65 h-24 grid sm:grid-cols-2 lg:grid-cols-5 border-t-[1px] border-white/50"
      >
        {
          content.featuredLinks?.map((link, index) => (
            <FeaturedLink link={link} variant={index} />
          ))
        }
      </div>
    </div>
  </div>
  <Container>
    <div class="stats-block">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:max-w-none">
          <dl
            class="mt-16 bg-white grid grid-cols-1 gap-0.5 overflow-hidden rounded-2xl sm:grid-cols-2 lg:grid-cols-4"
          >
            {
              content.stats?.map((stat, index) => (
                <StatCard stats={stat} index={index} />
              ))
            }
          </dl>
        </div>
      </div>
    </div>
  </Container>
  <Container>
    <div class="p-8">
      <div class="my-6 inline-flex gap-4">
        <h3>Projects</h3>
        <Button
          button={{
            style: 'light',
            text: 'See all',
            link: 'projects',
            variant: 'outlined',
          }}
          arrow="right"
        />
      </div>
      <ProjectCarousel projects={projects} client:load />
    </div>
  </Container>
  <Container>
    <div
      class="mx-auto my-12 grid max-w-screen-xl grid-cols-12 gap-8 md:grid-cols-12"
    >
      {
        content.customContentBlock?.map((item) => (
          <div class="col-span-6 md:col-span-4">
            <LinkCard {...item} />
          </div>
        ))
      }
    </div>
  </Container>
</BaseLayout>
