---
import Container from '@components/Container.astro';
import ProjectsLayout from '@layouts/ProjectsLayout.astro';
import ProjectGrid from '@components/ProjectGrid/ProjectGrid';
import Hero from '@components/Hero.astro';
import getPageHero from '@utils/getPageHero';
import { getCollection, getEntry } from 'astro:content';
import type { CollectionEntry } from "astro:content";

import { Markdown } from '@astropub/md';
import { Image } from 'astro:assets';
import type {
  LocalProject
} from 'env';

import directus from '../../lib/directus';
import { readItems, readSingleton } from '@directus/sdk';
import { MoveDiagonal, Link2, Star } from 'lucide-react';
import { twMerge } from 'tailwind-merge';
import projectsSchema from "../data/projects/projects.schema.json";


const projects: LocalProject[] = await getCollection('projects');

const footerDefaultStyle = `flex h-12 w-full place-items-center border justify-center gap-2`;

const global = await directus.request(readSingleton('General'));

const { features, industries, languages, type } = projectsSchema.properties;

const filterOptions = { 
  features: features.items.enum,
  industries: industries.items.enum,
  languages: languages.items.enum,
  types: type.enum,
};

const pageHero = await getPageHero('projects');
---

<ProjectsLayout
  title={`Projects | ${global.site_name} - ${global.site_subheader}`}
>
  <Hero pageHero={pageHero} />
  <Container>
    <ProjectGrid {filterOptions} {projects} client:load />
<!-- 
    <div class="project-grid mb-64 grid grid-cols-12 gap-8">
      {
        projects.map((project) => (
          <div class="project-card border-numfocus-primary flex flex-col justify-between border col-span-4">
            <div class="relative h-12 w-full">
              <div class="absolute top-0 right-0 flex cursor-pointer place-items-center gap-2 bg-teal-600 p-2 text-white hover:bg-teal-700">
                Expand
                <MoveDiagonal className="inline" />
              </div>
            </div>
            <div class="flex flex-wrap overflow-hidden px-4 py-5 sm:p-6 min-h-120">
              <h5 class="pt-8 block w-full">{project.data.name}</h5>
              <Image
                src={project.data.logo}
                alt={project.data.name}
                class="mx-auto my-0 h-42 w-auto"
              />
              <p class="text-center text-sm">
                <Markdown.Inline of={project.data.short_description} />
              </p>
              {/* <a href={project.website_link}>{project.website_link}</a> */}
            </div>
            {project.data.type === 'affiliated' && (
              <div
                class={twMerge(
                  footerDefaultStyle,
                  `bg-light-teal-50 border-t-numfocus-primary text-numfocus-primary`
                )}
              >
                <Link2 />
                Affiliated Project
              </div>
            )}
            {project.data.type === 'sponsored' && (
              <div
                class={twMerge(
                  footerDefaultStyle,
                  `border-t-yellow-700 bg-yellow-50 text-yellow-700`
                )}
              >
                <Star />
                Sponsored Project
              </div>
            )}
          </div>
        ))
      }
    </div> -->
  </Container>
</ProjectsLayout>
