---
import Container from '@components/Container.astro';
import Layout from '@layouts/Layout.astro';
import PageHeader from '@components/PageHeader.astro';
import ProjectGrid from '@components/ProjectGrid/ProjectGrid';

import type { Feature, Industry, Language, Project } from 'env';

import directus from '../../lib/directus';
import { readItems, readSingleton } from '@directus/sdk';

const global = await directus.request(readSingleton('General'));
const projects = await directus.request<Project[]>(
  readItems(
    'projects',
    {
		  fields: ['*', { languages: ['project_languages_id'], features: ['project_features_id'], industries: ['project_industries_id'] }],
    }
  )
);
const features = await directus.request<Feature[]>(readItems('project_features'));
const industries = await directus.request<Industry[]>(readItems('project_industries'));
const languages = await directus.request<Language[]>(readItems('project_languages'));

const filterOptions = { features, industries, languages }
---

<Layout title={`Projects | ${global.site_name} - ${global.site_subheader}`}>
  <Container>
    <PageHeader title={global.site_name}>
      <p>{global.site_subheader}</p>
      <p>{global.hero_tagline}</p>
      <div set:html={global.hero_body} />
    </PageHeader>
    <ProjectGrid {filterOptions} {projects} client:load client:only="react" />
  </Container>
</Layout>
