---
import { Image } from 'astro:assets';
import getAssetUrl from '@utils/getAssetUrl';
import { Icon } from 'astro-icon/components';

import type { Event } from 'env';

interface Props {
	events: Event[];
}

const { events } = Astro.props;
---

<div class="bg-white">
	<div class="mx-auto">
		<div class="mx-auto">
			<div
				class="mx-auto mt-16 grid max-w-2xl grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
			>
				{
					events.map(
						({
							name,
							description,
							image,
							start_date,
							end_date,
							location,
							url,
						}) => (
							<article class="flex flex-col items-start rounded-2xl shadow-xl  justify-between">
								<a class="w-full hover:opacity-90 transition" href={url}>
									<div class="relative w-full">
										<div class="absolute bg-white shadow-sm left-6  flex items-center">
											<div class=" flex flex-col items-center p-4">
												<time
													datetime="2020-03-16"
													class="text-gray-500 uppercase"
												>
													{start_date.toLocaleString('en-US', {
														month: 'short',
													})}
												</time>
												<time
													datetime="2020-03-16"
													class="text-4xl font-semibold"
												>
													{start_date.toLocaleString('en-US', {
														day: '2-digit',
													})}
												</time>
											</div>
											{start_date.getTime() !== end_date.getTime() && (
												<>
													<p class="text-4xl font-semibold mt-6">-</p>
													<div class="  flex-col flex items-center p-4">
														<time
															datetime="2020-03-16"
															class="text-gray-500 uppercase"
														>
															{end_date.toLocaleString('en-US', {
																month: 'short',
															})}
														</time>
														<time
															datetime="2020-03-16"
															class="text-4xl font-semibold"
														>
															{end_date.toLocaleString('en-US', {
																day: '2-digit',
															})}
														</time>
													</div>
												</>
											)}
										</div>
										<Image
											src={getAssetUrl(image)}
											alt={name}
											inferSize
											class="aspect-video w-full rounded-t-2xl bg-gray-100 object-cover sm:aspect-2/1 lg:aspect-3/2"
										/>
									</div>
								</a>
								<div class="max-w-xl pl-4">
									<div class="group relative">
										<h2 class="mt-3 text-xl/6 font-semibold text-gray-900 group-hover:text-gray-600">
											<a href={url}>{name}</a>
										</h2>
										<p class="mt-2 text-sm/6 text-gray-600">
											<Icon
												name="heroicons:map-pin-solid"
												class="inline-block align-baseline"
											/>
											{location}
										</p>
										<p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">
											{description}
										</p>
									</div>
								</div>
							</article>
						)
					)
				}
			</div>
		</div>
	</div>
</div>
