---
import Button from '@components/Atoms/Button';
import Container from './Container.astro';

import type { PageHero } from 'env';
interface Props {
  pageHero: PageHero;
}
const assetBaseUrl = `${import.meta.env.DIRECTUS_URL}assets/`;

const { pageHero: hero } = Astro.props;
---

<div class="hero-container">
  <div class="grid grid-cols-12 gap-6">
    <div class="col-start-2 lg:col-start-2 col-span-10 lg:col-span-6 mt-12">
      <h3 class="mb-4">{hero.headline}</h3>
      <h5 class="mb-4">{hero.subheader}</h5>
      <div class="prose mb-6" set:html={hero.rich_text} />
      <div class="buttons">
        {
          hero.button &&
            hero.button.map((button) => (
              <Button button={button} arrow="right" />
            ))
        }
      </div>
    </div>
    <div
      class="order-first h-64 lg:h-full col-span-full lg:col-span-5 overflow-hidden lg:order-last"
    >
      <img
        src={`${assetBaseUrl}${hero.image}`}
        alt={hero.title}
        class="w-full h-full object-cover object-center"
      />
    </div>
  </div>
</div>
