---
import { Picture } from 'astro:assets';
import Button from '@components/Atoms/Button';
import type { PageHero } from 'env';
interface Props {
  pageHero: PageHero;
}
const assetBaseUrl = `${import.meta.env.DIRECTUS_URL}assets/`;

const { pageHero: hero } = Astro.props;

const heroStyle = hero.hero_style === 'dark' ? 'bg-gray-900 text-white' : '';
---

<div class="hero-container">
  <div class:list={['grid grid-cols-12 gap-6', heroStyle]}>
    <div
      class="col-start-2 lg:col-start-2 col-span-10 lg:col-span-6 mt-12 pb-12"
    >
      <h3 class="mb-4">{hero.headline}</h3>
      <h5 class="mb-4">{hero.subheader}</h5>
      <div class:list={['prose mb-6', heroStyle]} set:html={hero.rich_text} />
      <div
        class="buttons flex flex-col gap-4 pt-4 border-t-[1px] border-brand-gray-light"
      >
        {
          hero.buttons &&
            hero.buttons.map((button) => (
              <Button button={button} arrow="right" />
            ))
        }
      </div>
    </div>
    <div
      class="order-first h-64 lg:h-full col-span-full lg:col-span-5 overflow-hidden lg:order-last"
    >
      <!-- <img
        src={`${assetBaseUrl}${hero.image}`}
        alt={hero.title}
        class="w-full h-full object-cover object-center"
      /> -->
      {
        hero.image && (
          <Picture
            src={`${assetBaseUrl}${hero.image}`}
            alt={hero.title}
            class="w-full h-full object-cover object-center"
            inferSize
          />
        )
      }
    </div>
  </div>
</div>
