---
import Button from '@components/Atoms/Button';
import Container from './Container.astro';

import type { PageHero } from 'env';
interface Props {
  pageHero: PageHero;
}
const assetBaseUrl = `${import.meta.env.DIRECTUS_URL}assets/`;

const { pageHero: hero } = Astro.props;
---

<div class="hero-container mx-auto mb-6">
  <div class="grid grid-cols-12">
    <div class="col-start-2 md:col-start-3 col-span-8 md:col-span-7 py-8">
      <h3 class="mb-4 mr-24">{hero.headline}</h3>
      <h5 class="mb-4">{hero.subheader}</h5>
      <div class="prose mb-6" set:html={hero.rich_text} />
      <div class="buttons flex flex-row gap-2 mr-12">
        {
          hero.button &&
            hero.button.map((button) => (
              <Button button={button} arrow="right" />
            ))
        }
      </div>
    </div>
    <div
      class="hidden md:block col-span-3 overflow-hidden rounded-l-4xl rounded-r-none"
    >
      <img
        src={`${assetBaseUrl}${hero.image}`}
        alt={hero.title}
        class="h-full object-cover opacity-50"
      />
    </div>
  </div>
</div>
