---
import Button from '@components/Atoms/Button';
import { HamburgerMenu, NavMenu } from '@components/Atoms/Menus';
import CommandPalette from '@components/CommandPalette';
import getCommandPaletteData from '@utils/getCommandPaletteData';
import getMenuItems from '@utils/getMenuItems';
import { Icon } from 'astro-icon/components';
import type { ButtonType as but } from 'env';
import Container from './Container.astro';

const menuItems = await getMenuItems('Navigation');

const currentPage = Astro.routePattern;

const button: but = {
  link: { text: 'Donate', slug: 'donate', type_of_link: 'internal' },
  variant: 'special',
  style: 'light',
};

const commandPaletteData = getCommandPaletteData();
---

<header class="border-0 border-b-[1px] border-teal-500">
  <Container removeMargins>
    <div class="py-6 flex items-center justify-between gap-4">
      <a class="logo" aria-label="home" href="/">
        <Icon name="logo" class="text-5xl" />
      </a>
      <NavMenu menuItems={menuItems} currentPage={currentPage} />
      <div class="inline-flex gap-2 items-center">
        <CommandPalette client:load items={commandPaletteData} />
        <Button button={button} icon="heart" />
        <HamburgerMenu
          menuItems={menuItems}
          currentPage={currentPage}
          client:load
        />
      </div>
    </div>
  </Container>
</header>
