---
import Button from '@components/Atoms/Button';
import { HamburgerMenu, NavMenu } from '@components/Atoms/Menus';
import CommandPalette from '@components/CommandPalette';
import getCommandPaletteData from '@utils/getCommandPaletteData';
import getMenusByType from '@utils/getMenusByType';
import { Icon } from 'astro-icon/components';
import type { ButtonType as but } from 'env';
import Container from './Container.astro';

const menu = await getMenusByType('navigation');
const menuItems = menu[0].items;

const currentPage = Astro.url.pathname.split('/')[1];

const donateButton: but = {
	link: { text: 'Donate', slug: 'donate', type_of_link: 'internal' },
	variant: 'special',
	style: 'light',
};

const commandPaletteData = getCommandPaletteData();
---

<header class="border-0 border-b-[1px] border-teal-500">
	<Container removeMargins>
		<div class="py-6 flex items-center justify-between gap-4 md:gap-6">
			<a class="logo" aria-label="home" href="/">
				<Icon name="logo" class="text-5xl lg:text-5xl md:text-4xl" />
			</a>
			<NavMenu menuItems={menuItems} currentPage={currentPage} />
			<div class="inline-flex gap-2 items-center">
				<CommandPalette client:load items={commandPaletteData} />
				<Button button={donateButton} />
				<HamburgerMenu
					menuItems={menuItems}
					currentPage={currentPage}
					client:load
				/>
			</div>
		</div>
	</Container>
</header>
