---
import Container from '@components/layout/Container.astro';
import directus from '@directus/directus';
import { readSingleton } from '@directus/sdk';
import PageLayout from '@layouts/PageLayout.astro';

import getPageSeo from '@utils/getPageSeo';

const global = await directus.request(readSingleton('General'));

const slug = Astro.routePattern.substring(1);
const seo = await getPageSeo(slug);
---

<PageLayout
	title={`Donate to NumFOCUS | ${global.site_name} - ${global.site_subheader}`}
	seo={seo}
>
	<Container>
		<div
			class="mx-auto mt-12 w-2/3 md:w-1/3 flex flex-col gap-4 items-center-safe"
		>
			<h2
				class="my-3 text-center text-xl font-semibold text-gray-900 group-hover:text-gray-600"
			>
				Donate to {global.site_name}
			</h2>
		</div>
		<div
			class="payments-iframe-container h-full"
			data-src=`https://app.hubspot.com/payments/${global.donate_code}?referrer=PAYMENT_LINK_EMBED&layout=embed-full`
		>
		</div>
		<script
			is:inline
			type="text/javascript"
			src="https://static.hsappstatic.net/payments-embed/ex/PaymentsEmbedCode.js"
		></script>
	</Container>
</PageLayout>
