---
// This is the main layout file; all other layouts are enclosed in this one

import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import '@styles/global.css';
import { SEO } from 'astro-seo';
import type { Seo } from 'env';
import getAssetUrl from '@utils/getAssetUrl';

interface Props {
  title: string;
  seo: Seo;
}

const { title, seo } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- SEO module -->
    <SEO
      title={seo.title}
      description={seo.meta_description}
      openGraph={{
        basic: {
          title: seo.title,
          type: 'website',
          image: `${getAssetUrl(seo.og_image)}?format=jpg`,
          url: Astro.url,
        },
      }}
    />
    <!-- End SEO module -->
  </head>
  <body>
    <Navbar />
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
